<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feedback.css"/>
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="feedback-container" style="margin-top: 20vh">
        <div class="feedback-content">
            <img src="../../assets/AY.png" class="feedback-image">
        </div>
        <div class="feedback-content">
            <img src="../../assets/AY.png" class="feedback-image">
        </div>
        <div class="feedback-content">
            <img src="../../assets/AY.png" class="feedback-image">
        </div>
        <div class="feedback-content">
            <img src="../../assets/AY.png" class="feedback-image">
        </div>
        <div class="feedback-content">
            <img src="../../assets/AY.png" class="feedback-image">
        </div>
    </div>
    <div class="feedback-button">
        <button class="btn btn-primary">Send</button>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../../js/importHeader.js"></script>
</body>
</html>