<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feedback.css"/>
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 5vh">
        <div class="card blur-card text-center">
            <div class="card-body feedback-container">
                <div class="feedback-content">
                    <img src="../../assets/Rating_face_1.png" class="feedback-image">
                </div>
                <div class="feedback-content">
                    <img src="../../assets/Rating_face_2.png" class="feedback-image">
                </div>
                <div class="feedback-content">
                    <img src="../../assets/Rating_face_3.png" class="feedback-image">
                </div>
                <div class="feedback-content">
                    <img src="../../assets/Rating_face_4.png" class="feedback-image">
                </div>
                <div class="feedback-content">
                    <img src="../../assets/Rating_face_5.png" class="feedback-image">
                </div>
            </div>
        </div>
    </div>
    <div class="feedback-button">
        <button class="btn btn-primary">Send</button>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../../js/importHeader.js"></script>
</body>
</html>