<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Button Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="syllableLevelPage.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="container page-container" style="margin-top: 3vh">
        <div class="text-center card-style">
            <h2 class="card-title">Syllable Level</h2>
            <div class="row">
                <div class="col-md-4">
                    <button class="image-button">
                        <img src="../../assets/EE.png" alt="Image 1" class="img-fluid" id="imageOne" onClick="imageButton('imageOne')">
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="image-button">
                        <img src="../../assets/AY.png" alt="Image 2" class="img-fluid" id="imageTwo" onClick="imageButton('imageTwo')">
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="image-button">
                        <img src="../../assets/OO.png" alt="Image 3" class="img-fluid" id="imageThree" onClick="imageButton('imageThree')">
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="image-button">
                        <img src="../../assets/OW.png" alt="Image 4" class="img-fluid" id="imageFour" onClick="imageButton('imageFour')">
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="image-button">
                        <img src="../../assets/OY.png" alt="Image 5" class="img-fluid" id="imageFive" onClick="imageButton('imageFive')">
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="image-button">
                        <img src="../../assets/II.png" alt="Image 6" class="img-fluid" id="imageSix" onClick="imageButton('imageSix')">
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="image-button">
                        <img src="../../assets/OH.png" alt="Image 7" class="img-fluid" id="imageSeven" onClick="imageButton('imageSeven')">
                    </button>
                </div>
            </div>
            <div style="margin-top: 3vh">
                <button type="button" class="btn btn-primary" id="backToPreviousPage">Back</button>
                <button type="button" class="btn btn-primary" id="nextStep">Next</button>
                <button type="button" class="btn btn-primary" id="backToHomePage">Home</button>
                <button type="button" class="btn btn-primary" id="" disabled>Finish</button>
            </div>
        </div>
    </div>
    <script src="/libs/qimessaging/2/qimessaging.js"></script>
    <script src="/libs/qi/2/qi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qi-js/2.10.3/qi.min.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="syllableLevelPage.js"></script>
    <script>

        var session = new QiSession(function () {
            session = s;
        }, disconnected,location.host);

        function connected(s) {
            //If you want to subscribe so some events (to send info pepper->tablet) call the function here
        }
        function disconnected(error) {
            console.log("Session disconnected");
       }

        session.service("ALTextToSpeech").done(function (tts) {
            tts.say("step eight running");
        }).fail(function (error) {
        console.log("An error occurred:", error);
        });

        // session.service("ALMemory").done(function (memory) {

        //     //this dont work, research more
        //     memory.raiseEvent("stepEight", True);
        // });

        function imageButton(input)
        {
            //delete unnessary string for the src string
            var speechString = document.getElementById(input).src;   
            speechString = speechString.split("/");
            speechString = speechString[speechString.length - 1];
            speechString = speechString.split(".");
            speechString = speechString[0];

            //if two letter is the same e.g. OO, it should just O in ALTextToSpeech
            if(speechString[0] == speechString[1])
            {
                speechString = speechString[0];
            }

            //FOR DEBUG
            console.log(speechString);

            session.service("ALTextToSpeech").done(function (tts) {
            tts.say(speechString);
            }).fail(function (error) {
            console.log("An error occurred:", error);
            });
        }

    </script>
</body>
</html>
