.consent-page-container {
    margin-top: 35vh;
}

.consent-label {
    max-height: 10em;
    overflow-y: auto;
    padding: 20px;
    margin: 0 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.consent-page-button-group {
    margin-top: 20px;
}

.consent-page-button-group button {
    min-width: 100px;
}

.vertical-spacing {
    margin: 8px 0;
}