<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial position</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="initialPosition.css">
</head>
<body>
    <div class="container text-center mt-5 page-container">
        <div class="row justify-content-between align-items-center">
            <div class="col d-flex justify-content-start">
                <div class="button-column">
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord01" onClick="readTextOnButton(this)"><u>Th</u>ree</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord02" onClick="readTextOnButton(this)"><u>Th</u>ick</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord03" onClick="readTextOnButton(this)"><u>Th</u>row</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord04" onClick="readTextOnButton(this)"><u>Th</u>eatre</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord05" onClick="readTextOnButton(this)"><u>Th</u>ursday</button>
                </div>
            </div>
            <div class="col-auto">
                <h1 class="card-title"><u>Th</u>ermometer</h1>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="button-column">
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord06" onClick="readTextOnButton(this)"><u>Th</u>irsty</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord07" onClick="readTextOnButton(this)"><u>Th</u>eir</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord08" onClick="readTextOnButton(this)"><u>Th</u>ermometer</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord09" onClick="readTextOnButton(this)"><u>Th</u>read</button>
                    <button type="button" class="btn btn-primary mb-2 word-button" id="iWord10" onClick="readTextOnButton(this)"><u>Th</u>ank you</button>
                </div>
            </div>
        </div>
        <div class="navigation-buttons mt-4">
            <button type="button" class="btn btn-primary" id="backToPreviousPage">Back</button>
            <button type="button" class="btn btn-primary" id="nextStep">Next</button>
            <button type="button" class="btn btn-primary" id="backToHomePage">Home</button>
            <button type="button" class="btn btn-primary" id="jumpToFeedback">Finish</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="initialPosition.js"></script>
    <script src="/libs/qimessaging/2/qimessaging.js"></script>
    <script src="/libs/qi/2/qi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qi-js/2.10.3/qi.min.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        
        localStorage.setItem("buttonCount", 0);
        var session = new QiSession(function () {
            session = s;
        }, disconnected,location.host);

        function connected(s) {
            localStorage.setItem("buttonCount", 0);
        }
        function disconnected(error) {
            console.log("Session disconnected");
        }

        function readTextOnButton(button)
        {
            var readString = document.getElementById(button.id).innerHTML.toString();
            readString = readString.replace("<u>","");
            readString = readString.replace("</u>","");
            console.log(readString);

            var buttonCount = localStorage.getItem("buttonCount");

            buttonCount++;

            console.log(buttonCount);

            localStorage.setItem("buttonCount", buttonCount);

            

            if(buttonCount > 9)
            {
                console.log("triggered");
                session.service("ALMemory").done(function (memory) {
                    memory.raiseEvent("stepEleven", String(readString));
                });
            }
            else
            {
                session.service("ALTextToSpeech").done(function (tts) {
                    tts.say(readString);
                }).fail(function (error) {
                    console.log("An error occurred:", error);
                });
            }
            
        }
    </script>

</body>
</html>
