@import url("../../../share.css");

.page-container {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: auto;
    margin: auto;
}

.button-column {
    display: flex;
    flex-direction: column;
}

.button-column.justify-content-start {
    justify-content: flex-start;
}

.button-column.justify-content-end {
    justify-content: flex-end;
}

.navigation-buttons button {
    margin: 0 10px;
}

.navigation-buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
